.wrap {
    // border: 1px solid green;
    max-width: 240px;
    color: #000;
    background: #fff;
    padding: 24px;
    max-width: 220px;
    border-radius: 12px;
    line-height: 1;
    margin: 16px 8px 16px;
    cursor: pointer;

    .name {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;

    }

    .description {
        font-size: 14px;
        font-weight: 400;
    }
}